.cim{ 
    text-align: center;
    font-size: 30px;
    width:50%;
}
tbody,thead {
  background-color: #F0D7B0;
  border-radius: 31px;
}
.csik {
  background-color: #f5e7d0;
}
.containerr{
  width: 100%;
}
.padi{
  padding-top: 10px;
  padding-bottom: 10px;
}
#leiras{
  font-size: 20px;
}
.fitti{
  padding:20px;
  margin-bottom:30px;
}