.cim{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 10px;
    top: 130px;

    background: #EAC691;

    border-radius: 30px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
tbody,thead {
  background-color: #F0D7B0;
}
.csik {
  background-color: #f5e7d0;
}

.image {
  border-radius: 110px;
  border-style: solid;
  border-color: #EAC691;
  border-width: 15px;
  float:right;
  margin-right: 550px;
}

.vazlat {
  
  margin:20px;
  position: relative;
  padding: 20px;
}

