.rolunkbevezeto {
    background-color:#F0D7B0;
    border-radius: 31px;
}

.bemutatodavid {
    background-color: #F0D7B0;
    border-radius: 28px;
}

.cim{
    text-align: center;
    font-size: 20px;
    width:700%;
}

#baltakep {
    width: 200px;
    border-radius: 28px;
    border-style: solid;
    border-width: 8px;
    border-color: #e0d6c5;
    margin: auto;
}

.körvonal {
    border-style: solid;
    border-width: 8px;
    border-color: #e0d6c5;
    border-radius: 28px;
}